<div class='jumbotron listing' 
     style="background-image: url(<%=listing.escape("jumbo_image_url")%>)">
</div>

<div class='container'>
  
  <div class='row'>
    <div class="price-list-show col-xs-3 col-xs-offset-8">
      <div class="price">
        $<%= listing.escape("price")%>
      </div>
      <div class="price-rate">
        per night
      </div>
    </div>
  </div>
  
  <div class='row listing-headline'>
  
    <div class="col-xs-2">
      <% user = listing.get("user") %>
      <% if (user) { %>
        <img src="<%=user.image_url%>" 
             alt="Profile Pic" 
             class="img-circle user-img">
        <div class='list-show-username'>     
          <%= user.firstname %> 
          <%= user.lastname %>
        </div>     
      <% }; %>
      
    </div>
  
    <div class="col-xs-6">
      
      <div id="listing-show-title">
         <%= listing.escape("title")%>
      </div>
      
      <div class="details-panel">
        <div class="details-panel-item">
          <img src="assets/guests-icon.png" height="60px" width="60px">
          <div>Guests: <%= listing.escape("num_guests")%></div>
        </div>
        <div class="details-panel-item">
          <img src="assets/bed-icon.png" height="60px" width="60px">
          <div>Beds: <%= listing.escape("num_beds")%></div>
        </div>
        <% if (user) { %>
          <% if (user.disposition === 'Evil') { %>
            <div class="details-panel-item">
              <img src="assets/evil-icon.png" height="60px" width="60px">
            <div>Evil</div>
            </div>
          <% } else if (user.disposition === 'Mad') { %>
             <div class="details-panel-item">
               <img src="assets/crazy-icon.jpeg" height="60px" width="60px">
             <div>Mad</div>
             </div>
          <% } else { %>
             <div class="details-panel-item">
               <img src="assets/happy-icon.gif" height="60px" width="60px" >
             <div>Not Mad/Evil</div>
             </div>
          <% } %>
        <% } %>
      </div>      
   </div>
   
   <div class="col-xs-3 booking-container">
   <div class="booking-subcontainer" style="margin-top:4px">
     Check-in
     <div class="input-append date">
       <input type="text" 
              class="span2" 
              style="margin-top:4px"><span class="add-on"></span>
     </div>
   </div>
   <div class="booking-subcontainer" style="margin-top:4px">
     Check-out
     <div class="input-append date">
       <input type="text" 
              class="span2" 
              style="margin-top:4px"><span class="add-on"></span>
     </div>
   </div>
   <div class="booking-subcontainer" style="margin-top:4px">
     Guests
     <div id="guest-number-selector">
       <select id='num-guests' class='form-control'>
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
       </select>
     </div>
   </div>
   <a href="https://www.linkedin.com/in/jeffcaves"><button class='btn btn-primary btn-custom' style="margin-left:30px;margin-top:10px">Create Reservation</button></a>
  </div> 
</div>



