<div class='jumbotron listing' 
     style="background-image: url(<%=listing.escape("jumbo_image_url")%>)">
</div>

<div class='container'>
  
  <div class='row'>
    <div class="price-list-show col-xs-3 col-xs-offset-8">
      <div class="price">
        $<%= listing.escape("price")%>
      </div>
      <div class="price-rate">
        per night
      </div>
    </div>
  </div>
  
  <div class='row listing-headline'>
  
    <div class="col-xs-2">
      <% user = listing.get("user") %>
      <% if (user) { %>
        <img src="<%=user.image_url%>" 
             alt="Profile Pic" 
             class="img-circle user-img">
        <div class='list-show-username'>     
          <%= user.firstname %> 
          <%= user.lastname %>
        </div>     
      <% }; %>
      
    </div>
  
    <div class="col-xs-6">
      
      <div id="listing-show-title">
         <%= listing.escape("title")%>
      </div>
      
      <div class="details-panel">
        <div class="details-panel-item">
          Guests: <%= listing.escape("num_guests")%>
        </div>
        <div class="details-panel-item">
          Beds: <%= listing.escape("num_beds")%>
        </div>
        
        <% if (listing.get("evil") === 'Y') { %>
          <div class="details-panel-item">Evil</div>
        <% } else { %>
          <div class="details-panel-item">Not Evil</div>
        <% } %>
      </div>      
   </div>
   
   <div class="col-xs-3 booking-container">
   <div class="booking-subcontainer">
     Check-in
     <div class="input-append date">
       <input type="text" class="span2"><span class="add-on"></span>
     </div>
   </div>
   <div class="booking-subcontainer">
     Check-out
     <div class="input-append date">
       <input type="text" class="span2"><span class="add-on"></span>
     </div>
   </div>
   <div class="booking-subcontainer">
     Guests
     <div id="guest-number-selector">
       <select id='num-guests'>
         <option value="1">1</option>
         <option value="2">2</option>
         <option value="3">3</option>
         <option value="4">4</option>
         <option value="5">5</option>
       </select>
     </div>
   </div>
   <button class='btn btn-primary book-it-btn'>Create Reservation</button>
  </div> 
</div>

<div class='row'>
  <div class="description col-xs-6 col-xs-offset-2">
  Description:
  </div>
</div>


